{% extends "mainAccess.html" %}
{% block content %}
    
    <form method="POST" action="">
        <div class="modal-dialog"> 
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Recover password</h4>
                    <h1 class="modal-title">MANCA IL SERVER SMTP, NON INVIA LE EMAIL</h1>
                </div>
                {{ form.hidden_tag() }}
                <div class="modal-body">
                    
                    {{ form.email.label(class="form-control-label")}}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                    
                    <br />

                <div class="modal-footer form-footer">
                    <div class="text-muted">
                        <a class="btn btn-info" href="{{ url_for('access_bp.login') }}">Return to Login</a>
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </div>
            </div>
        </div>

        
    </form>

{% endblock %}